SECRET_KEY=tu_clave_secreta_aqui

DB_NAME=db_name
DB_USER=db_user
DB_PASSWORD=db_pass
DB_HOST=localhost
DB_PORT=0000

# Genera con: openssl genrsa -out oidc.key 4096  y pega el contenido aquí (con \n)
OIDC_RSA_PRIVATE_KEY=
